/****************common*****************/
html, body {font-size: 14px; font-family: Verdana, sans-serif; color: #121212;}
.wrapper {max-width: 1400px; margin: auto; padding: 0 1em;}
.top-bar {margin: 2em 0 1em 0; border-bottom: 1px solid #eee; padding: 1em; font-size: 2em;}


/****************header*****************/
.header-wrapper{width: 100%; position: fixed; background-color: #f9f9f9; letter-spacing: .325em; font-size: 1.125em; box-shadow: 0 0 6px rgba(0, 0, 0, 3); z-index: 9;}
.header-wrapper > .title {float:left; padding: 1.125em;}
.header-wrapper > .title > a > span {font-weight: bold;}
.header-wrapper > .navi-wrap {float: right;}
.header-wrapper > .navi-wrap > .navi {float: left; padding: 1.125em;}
.header-wrapper > .navi-wrap > .navi:hover {background-color: #ccc;}


/****************main*****************/
.main-wrapper {max-width: 1500px; margin: auto;}
.main-wrapper > .main-wrap {position: relative; width: 100%; font-size: 3em; letter-spacing: .125em;}
.main-wrapper > .main-wrap > .main-img {width: 100%;}
.main-wrapper > .main-wrap > h2.title {position: absolute; left: calc(50% - 125px); top: calc(50% - 21px); text-align: center; color: #fff;}
.main-wrapper > .main-wrap > h2.title > span.logo {background-color: #121212; color: #fff; font-weight: bolder; padding: .2em .3em; opacity: .8;}


/****************project*****************/
.pro-wrapper{}
.pro-wrapper > .pro-wrap{width: 102%;}
.pro-wrapper > .pro-wrap > .content{float: left; width: 23%; height: 48%; margin:0 2% 2% 0; position: relative;}
.pro-wrapper > .pro-wrap > .content > img{width: 100%;}
.pro-wrapper > .pro-wrap > .content > p {position: absolute; top: 0px; background-color: #121212; color: #f9f9f9; padding: .5em 1em; font-size: 1.25em;}


/****************about*****************/
.about-wrapper {font-size: 1.25em;}
.about-wrapper > .title {line-height: 1.25;}
.about-wrapper > .about-wrap {width: 102%;}
.about-wrapper > .about-wrap > .about {float: left; width: 23%; margin-right:2%; margin-bottom: 2%; padding-top: 2em;}
.about-wrapper > .about-wrap > .about > img {width: 100%; filter: grayscale(80%);}
.about-wrapper > .about-wrap > .about > .intro > * {text-align: left; padding-top: 1em;}
.about-wrapper > .about-wrap > .about > .intro > h2 {font-weight: 600;}
.about-wrapper > .about-wrap > .about > .intro > h3 {font-size: .85em; color: #555;}
.about-wrapper > .about-wrap > .about > .intro > p {line-height: 1.5em;}
.about-wrapper > .about-wrap > .about > .intro > button {width: 100%; text-align: center; background-color: #eee; padding: .5em; margin-top: 1em;}
.about-wrapper > .about-wrap > .about > .intro > button:hover {background-color: #ccc;}


/****************contact*****************/
.contact-wrapper {}
.contact-wrapper > .title {}
.contact-wrapper > .contact-wrap {}
.contact-wrapper > .contact-wrap > .content {font-size: 1.25em;}
.contact-wrapper > .contact-wrap > .input {width: 100%; border: 1px solid #ccc; padding: .75em; margin: 1em 0 .5em 0;}
.contact-wrapper > .contact-wrap > .bt-send {padding: .75em 1em; background-color: #121212; color: #f9f9f9; border-radius: .25em; margin: 1em 0 3em 0;}
.contact-wrapper > .contact-wrap > .bt-send:hover {background-color: #ccc; color: #f9f9f9;}
.contact-wrapper > .contact-wrap > .contact-img {width: 100%;}


/****************footer*****************/
.footer-wrapper {}
.footer-wrapper > .footer-wrap {margin-top: 1em; background-color: #121212;}
.footer-wrapper > .footer-wrap > .footer-ment {text-align: center; color: #f9f9f9; padding: 3em 0 3em 0;}
.footer-wrapper > .footer-wrap > .footer-ment a{text-decoration: underline;}
.footer-wrapper > .footer-wrap > .footer-ment a:hover {color: rgb(65, 193, 105);}





/****************response*****************/
@media (max-width: 1200px){

}

@media (max-width: 992px){

}

@media (max-width: 768px){
  .main-wrapper > .main-wrap > h2.title {left: calc(50% - 50px); top: calc(50% - 5px);}
  .main-wrapper > .main-wrap > h2.title > span.lost {display: none;}
  .header-wrapper > .navi-wrap {display: none;}
  .pro-wrapper > .pro-wrap > .content{width: 98%;}
  .about-wrapper > .about-wrap > .about {width: 48%;}
}

@media (max-width: 574px){
  .about-wrapper > .about-wrap > .about {width: 98%;}
}